:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-blue: navy;
  --main-yellow: yellow;

  --deep-blue: #031d3f;
  --deep-yellow: #ecb602;

  --neutral-white: #fff;
}

/* Box sizing rules */
* {
  margin: 0;
  padding: 0;
}
button {
  background-color: var(--deep-yellow);
  color: var(--deep-blue);
  padding: 0.5em;
}
