.departments-component-header {
    text-align: center;
    background-color: var(--deep-blue);
    color: var(--deep-yellow);
    padding: 1rem 0;
}

.departments-component-section {
    background-color: var(--deep-blue);
}

.department-component-main {
    background-color: var(--deep-blue);
}

.department-article {
    padding: 3rem;
}

.departments-list-professors-section h1{
    text-align: center;
    color: var(--deep-yellow)
}

.departments-list-professors-section p{
    color: var(--neutral-white);
}

.departments-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2ch;
    list-style-type: none;
    margin: auto;
    padding: 1rem 1rem;  
}

.departments-flex-box li {
    text-decoration: none;
    max-width: 18rem;
    min-width: 18rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue);
    border: 3px solid var(--neutral-white);
}

.departments-flex-box li img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 60%;
    border: 3px solid var(--neutral-white);
}

.departments-flex-box a {
    text-decoration: none;
    color: var(--deep-yellow); 
}

.departments-flex-box li:hover {
    border: 3px solid var(--main-yellow);
}

.departments-flex-box a:hover {
    color: var(--main-yellow); 
}

.department-section-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 85%;
    min-width: 85%;
}

.department-section-flex-box img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 3px solid var(--neutral-white);
    width: 40%;

}

.department-section-flex-box h2{
    color: var(--deep-yellow);
    padding: 1rem 0;
}

.department-section-flex-box p {
    color: var(--neutral-white);
}

.department-section-flex-box a {
    color: var(--neutral-white);
    padding: 1rem;
}

.department-section-flex-box a:hover {
    color: var(--main-yellow);
}

.department-section-flex-box button:hover {
    background-color: var(--main-yellow);
}

.post-department-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--deep-blue);
    color: var(--deep-yellow);
    align-items: center;
    border-radius: 0.25rem;
    margin: 3rem auto;
    padding: 1rem 0;
    max-width: 75%;
    min-width: 75%;
}

.post-department-form h2 {
    padding: 1rem 0;
}


.post-department-form label{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;
    max-width: 50%;
}

.post-department-form button:hover {
    background-color: var(--main-yellow);
}

.auth-message {
    text-align: center;
    background-color: var(--neutral-white);
}
