.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
  background-color: var(--deep-yellow);
  height: 60px;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 0.8em;
}

.navBarLink {
  text-decoration: none;
}

.navBarLink:link {
  color: var(--deep-blue);
}

.navBarLink:visited {
  color: var(--main-blue);
}

@media screen and (max-width: 830px) {
  .navbar {
    padding-left: 2%;
    padding-right: 2%;
  }
}
